body {
    margin: 2rem;
    font-family: Helvetica, "Inter", sans-serif;
    margin-bottom: 10rem;
}

.movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 2000px;
}

@media screen and (max-width: 1000px) {
    .movie-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .movie-container {
        display: flex;
        flex-direction: column;
    }
}

.movieBox {
    border: 1px solid lightgray;
    padding: 2rem;
    word-wrap: break-word;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}

hr {
    margin: 2rem 0;
    border: none;
    height: 1px;
    background-color: lightgray;
    width: 100%;
}

button {
    cursor: pointer;
    margin-top: 1rem;
}

